.transition {
  width: 100%;
}
.transition_container {
  display: flex;
}
.transition_container_side {
  width: 12%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.transition_container_side_btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  font-size: 20px;
}
.transition_container_side_btn_active {
  border: 5px solid black;
}
.transition_container_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.transition_container_main_btns {
  position: absolute;
  bottom: 40px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
