.admin {
  &_header {
    display: flex;
    align-items: center;
  }

  &_btns {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
    flex-direction: column;

    &_container {
      margin: 50px 0;
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: space-around;
    }
  }
}

.add_auto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;

  &_input {
    &_url {
      font-size: 10px;
    }
  }

  &_marks {
    padding: 10px 40px 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
    margin: 5px;
  }
}

.update_admins {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

@media (max-width: 800px) {
  .add {
    &_auto {
      width: 100%;
      &_marks {
        padding: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .add {
    &_auto {
      width: 100%;
      &_marks {
        padding: 0;
      }
    }
  }
}
