.header {
  padding: 10px 0;
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &_info,
  &_auth {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_new_messages {
    position: relative;

    & span {
      position: absolute;
      border: 1px solid black;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
