.appTextarea {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 500px;
  height: 200px;
  margin: 20px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  resize: none;
}
.appTextarea:focus {
  outline: none;
}

@media (max-width: 800px) {
  .appTextarea {
    width: 300px;
    height: 150px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .appTextarea {
    width: 250px;
    height: 135px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .appTextarea {
    width: 200px;
    height: 120px;
    font-size: 12px;
  }
}
