.appLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &Auth {
    display: flex;
    justify-content: space-between;

    & button {
      display: flex;
      align-items: center;

      & img {
        margin-right: 10px;
      }
    }
  }
}
